generate_data.py
generate_data_QUIMB.py
generate_tensors.py
plot_data.py
light_cone_correlation.py
norm_check.py
cross_sections.py
lifetime_scatter.py
Performance_exam.py
Performance_Display.py
Periodicity.py
Phase_sections.py
plot_random_circuits.py
power_scatter.py
Quality_Display.py
Soliton_section.py
t_sections.py
tensor_contraction.jl
Thermalize_scatter.py
x_sections.py
.DS_Store
.gitignore
data/
graphs/
__pycache__/